*   {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: black;
}

div {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* durch % ist headline nicht centered, aber bei setzung zu 100vw entsteht overflow-x */
    height: 100vh;

}
h1 {
    display: flex;
    white-space: normal;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: transparent;
}
h2 {
    display: flex;
    white-space: normal;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    font-size: 25px;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: transparent;
}
small   {
    background-color: transparent;
}

/*a {
    color: inherit;
}*/
/* blog */
    /*class center damit max Breite vom Fließtext*/


.center {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }
h3  {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
}
p{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    text-align: left;

}
time {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
    color: dimgray;
    
}
div:nth-child(1) {
background-image: url(Image-Vacationist.jpeg);
background-size: cover;
}

div:nth-child(2) {
    background: black;
    height: 100%;
}